@tailwind base;
@tailwind components;
@tailwind utilities;

/* language changer custom style */
#LanguageToggle:checked en {
  color: #000;
}

#LanguageToggle:checked fa {
  color: #fff;
}

#LanguageToggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  padding: 2px;
  width: 45px;
  height: 25px;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 60px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
}
#LanguageToggle + label::before,
#LanguageToggle + label::after {
  display: block;
  position: absolute;
  content: "";
}

#LanguageToggle + label::before {
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  background-color: transparent;
  border-radius: 60px;
}
#LanguageToggle + label::after {
  top: 3px;
  left: 3px;
  bottom: 3px;
  width: 20px;
  background-color: #e31b1b;
  -webkit-border-radius: 52px;
  -moz-border-radius: 52px;
  -ms-border-radius: 52px;
  -o-border-radius: 52px;
  border-radius: 52px;
  -webkit-transition: margin 0.2s;
  -moz-transition: margin 0.2s;
  -o-transition: margin 0.2s;
  transition: margin 0.2s;
  z-index: 1;
}

#LanguageToggle:checked + label::after {
  margin-left: 18px;
  background: #e31b1b;
  z-index: 1;
}
/* language changer custom style */

/* header wave */
.circle-wave1 {
  animation: animation1 1500ms linear infinite;
}

.circle-wave2 {
  animation: animation2 1600ms linear infinite;
}

.circle-wave3 {
  animation: animation3 1700ms linear infinite;
}

.circle-wave4 {
  animation: animation4 1800ms linear infinite;
}

.circle-wave5 {
  animation: animation5 1900ms linear infinite;
}

@keyframes animation1 {
  0% {
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
  }
  50% {
    width: 110%;
    height: 110%;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
  }

  100% {
    width: 120%;
    height: 120%;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
}

@keyframes animation2 {
  0% {
    width: 140%;
    height: 140%;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  50% {
    width: 150%;
    height: 150%;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
  }

  100% {
    width: 160%;
    height: 160%;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
}

@keyframes animation3 {
  0% {
    width: 180%;
    height: 180%;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  50% {
    width: 190%;
    height: 190%;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
  }

  100% {
    width: 200%;
    height: 200%;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
}

@keyframes animation4 {
  0% {
    width: 220%;
    height: 220%;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  50% {
    width: 230%;
    height: 230%;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
  }

  100% {
    width: 240%;
    height: 240%;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
}

@keyframes animation5 {
  0% {
    width: 260%;
    height: 260%;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  50% {
    width: 270%;
    height: 270%;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
  }

  100% {
    width: 280%;
    height: 280%;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
}

.custom-box-shadow {
  -webkit-box-shadow: 0px -8px 8px -6px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px -8px 8px -6px rgba(0, 0, 0, 0.25);
  box-shadow: 0px -8px 8px -6px rgba(0, 0, 0, 0.25);
}

.custom-circle-shadow {
  -webkit-box-shadow: 1px 18px 8px -6px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 1px 18px 8px -6px rgba(0, 0, 0, 0.25);
  box-shadow: 1px 18px 8px -6px rgba(0, 0, 0, 0.25);
}

.custom-border-radius {
  border-radius: 1000px 1000px 1000px 1000px / 900px 900px 900px 900px;
}

.footer-border-radius {
  border-radius: 3000px 3000px 0px 0px / 1500px 1500px 0px 0px;
}

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  object-fit: cover;
}
